@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@media screen and (min-width:640px){
}

*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: 'Open Sans' sans-serif;
}

.Bar{
    display: flex;
    flex-flow: row wrap;
    height: 125px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
    
    }

    .logo{
        flex:25%;
        text-align: center;  
        font-size: x-large;
        margin-left: 5%;  
    }

    .logo h1{
        font-family: 'Courgette', sans-serif;
        color: #0a1f4e;
    }

    .links{
        flex: 63%;
        text-align: right;
        padding: 10px;
        margin-right: 5%;
    }
    
    .links a{
        text-decoration: none;
        font-size: 22px;
        padding: 25px;
        margin-right: 12%;
        color: #0a1f4e;
        
    }
    
    .links a:hover{
        color:#f54e51 ;
        border-top: solid 5px #0a1f4e;
    }
    
    .topicos 
    {
        display: inline-block;
    }

    #Guia
    {
        font-size: 3.5em;
        margin-top: 8%;
        margin-left: 50%;
        color: #0a1f4e;
    }

    #lista 
    {
        margin-top: -1%;
        margin-left: 48%;
        font-size: 1.8em;
        text-decoration: none;
        color: black;
    }

    #imag 
    {
        width: 25%;
        height: 10%;
        margin-top: -22.5%;
        margin-left: 15%;
        float: left;
    }

    #imag:hover
    {
        filter: drop-shadow(0 0 10px red);
    }

    li a 
    {
        text-decoration: none;
        color: black;
    }

    li a:hover 
    {
        color: #f54e51;
        filter: drop-shadow(0 0 10px red);
    }